---
layout: default
title: Home
---

<!--INTRO TEXT-->
    <div class="intro align-center">
        <h1 class="intro-margin animate fadeInDown"><div id="introPhrase">&nbsp;</div></h1>
        <h4>Visual / Digital / Branding</h4>
      <div class="btn-margin">
        <a class="resume" href="img/GPatel_Resume.pdf" onclick="window.open(this.href); return false;">Résumé</a>
      </div>
    </div>

{% include main-grid.html %}

<hr>
<h2 class="align-center">Other Works</h2>
{% include mini-grid.html %}

