<!--FOOTER-->  
<footer class="nav">
<div class="nav-align">
    <a href="https://www.linkedin.com/in/girapatel2" class="margin-right" onclick="window.open(this.href); return false;">Linkedin</a>
    <a href="https://vimeo.com/girapatel" class="margin-right" onclick="window.open(this.href); return false;">Vimeo</a>
    <a href="https://dribbble.com/girapatel" class="margin-right" onclick="window.open(this.href); return false;">Dribbble</a>
    <a href="https://open.spotify.com/user/1240949043?si=7kL2K3iKSvmDbI_B1DU4mA" class="margin-right" onclick="window.open(this.href); return false;">Spotify</a>
    </div>
    <p class="nav-align">Made with my 🐻 hands &copy; Gira Patel {{ site.time | date: '%Y' }} </p>
</footer>