<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm a visual designer that's passionate about art direction, brand identity, and the entertainment industry. Other interests include 3D, motion graphics, music, gaming, and tech.">
    <meta name="keywords" content="gira patel, gira, brand designer, graphic designer, digital designer, visual designer, digital designer new york, visual designer new york, social marketing designer, entertainment">
    <meta name="theme-color" content="var(--bg-color)"/>
    <title>Gira Patel | Portfolio</title>
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="Gira Patel | Portfolio" />
    <meta property="og:image" content="http://girapatel.co/img/share-thumb.jpg" />
    <meta property="twitter:image" content="http://girapatel.co/img/share-thumb.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:description" content="I'm a visual designer that's passionate about art direction, brand identity, and the entertainment industry. Other interests include 3D, motion graphics, music, gaming, and tech." />
    <meta property="twitter:creator" content="@GiraNotJira" />
    <link href="../img/favicon.ico" rel="icon" type="image/bmp">
    <style>{% include style.css %}</style>
    <script>{% include intro-phrase.js %}</script>
</head>