<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gira Patel | Visual designer that is passionate about digital, branding, and product design. Other interests include tech, media, and entertainment.">
    <meta name="keywords" content="gira patel, gira, graphic designer, digital design,  visual designer, digital designer new york, visual designer new york">
    <meta name="theme-color" content="#f8fbff"/>
    <title>Gira Patel | Portfolio</title>
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="Gira Patel | Portfolio" />
    <meta property="og:image" content="../img/share-thumb.jpg" />
    <link href="../img/favicon.ico" rel="icon" type="image/bmp">
    
    <style>{% include style.css %}</style>
    <style>{% include dist/lity.min.css %}</style>
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-128948376-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>