<div class="home">
<main class="main col-3">
    <div class="card border"><a href="https://queerdesign.club/" target="_blank" rel="noopener"><img src="img/resource-1.jpg" alt="Queer Design Club"></a></div>
    
    <div class="card border"><a href="https://blackswho.design/" target="_blank" rel="noopener"><img src="img/resource-2.jpg" alt="Blacks Who Design"></a>
    </div>
    
    <div class="card border"><a href="https://www.latinxswhodesign.com/"  target="_blank" rel="noopener"><img src="img/resource-3.jpg" alt="Latinxs Who Design"></a>
    </div>

</main> 
</div>