<!--MAIN GRID-->
<main class="card col-4">
    <div class="card-image"><a href="/a-little-late-2/">
        <img src="../../img/card_lilly.jpg" class="image" loading="lazy" alt="" />
        <img src="../../img/logo_allwls.png" class="card-logo" loading="lazy" alt="A Little Late with Lilly Singh" />
        <h3 class="card-title">Season 2 Identity</h3></a>
    </div>
    <div class="card-image"><a href="/nbc-parody-art/">
        <img src="../../img/card_parodyart.jpg" class="image" loading="lazy" alt=""/>
        <img src="../../img/logo_nbc.png"  class="card-logo" loading="lazy" alt="NBC Parody Art" />
        <h3 class="card-title">Parody Art</h3></a>
    </div>
    <div class="card-image"><a href="/late-night/">
        <img src="../../img/card_lnsm.jpg" class="image" loading="lazy" alt=""/>
        <img src="../../img/logo_lnsm.png" class="card-logo" loading="lazy" alt="Late Night with Seth Meyers" />
        <h3 class="card-title">2020 Identity</h3></a>
    </div>
    <div class="card-image"><a href="/snl/">
        <img src="../../img/card_snl.jpg" class="image" loading="lazy" alt="" />
        <img src="../../img/logo_snl.png" class="card-logo" loading="lazy" alt="Saturday Night Live" />
        <h3 class="card-title">Season 45 Social</h3></a>
    </div>
</main>