<!--MAIN GRID-->
<div class="home">
<main class="main col-2">
    <div class="card">
        <a href="late-night"><img src="img/thumbnail_lnsm.jpg" alt=""><h2>Late Night with Seth Meyers</h2></a><h3>Identity, Social, Motion</h3>
    </div>
    
    <div class="card"><a href="snl"><img src="img/thumbnail_snl.jpg" alt=""><h2>Saturday Night Live</h2></a><h3>Social, Motion, Web</h3>
    </div>
    
    <div class="card"><a href="a-little-late" ><video autoplay loop muted playsinline src="img/thumbnail_allwls.mp4" alt=""></video><h2>A Little Late with Lilly Singh</h2></a><h3>Identity, Social</h3>
    </div>
    
    <div class="card"><a href="nbc-parody-art" ><img src="img/thumbnail_parody.jpg" alt=""><h2>NBC Parody Art</h2></a><h3>Photomanipulation, illustration</h3>
    </div>
</main> 
</div>