<!--MAIN GRID-->
<div class="home">
<main class="main col-2">
    <div class="card"><a href="late-night"><img src="img/thumbnail_lnsm.jpg" alt=""><h2>Late Night with Seth Meyers</h2></a><h3>Identity, Social</h3></div>
    
    <div class="card"><a href="snl"><video autoplay loop muted playsinline src="img/thumbnail_snl.mp4" alt=""></video><h2>Saturday Night Live</h2></a><h3>Social, Web</h3>
    </div>
    
    <div class="card"><a href="a-little-late" ><video autoplay loop muted playsinline src="img/thumbnail_allwls.mp4" alt=""></video><h2>A Little Late with Lilly Singh</h2></a><h3>Identity, Social</h3>
    </div>
    
    <div class="card"><a href="podcasts" ><img src="img/thumbnail_podcasts.jpg" alt=""><h2>Podcasts</h2></a><h3>Identity</h3>
    </div>
</main> 
</div>