<!--MAIN GRID-->
<main class="main col-4">
    
    <div class="card"><a href="travel-to-c"><img src="img/thumbnail_traveltoc.jpg" alt="Travel To C"><h3>Travel To C</h3></a><h5>Identity, Web</h5></div>
    
    <div class="card"><a href="asian-american-studies"><img src="img/thumbnail_aast.jpg" alt="Asian American Studies"><h3>Asian American Studies</h3></a><h5>Illustration, Print</h5></div>
    
    <div class="card"><a href="bitcamp" ><img src="img/thumbnail_bitcamp.jpg" alt="Bitcamp"><h3>Bitcamp</h3></a><h5>Hackathon Organizer, Illustration</h5></div>
    
    <div class="card"><a href="misc" ><video autoplay loop muted playsinline src="img/thumbnail-misc.mp4" alt="Miscellaneous projects"></video><h3>Miscellaneous</h3></a><h5>Personal, Motion, Illustration</h5></div>
</main> 