<!--SECONDARY GRID-->
<section class="card col-4">
    <div class="card-image"><a href="/motion/">
        <video autoplay loop muted playsinline src="../../img/thumbnail_motion.mp4" class="image" alt=""></video>
        <h3 class="align-center">Motion</h3></a>
    </div>
    <div class="card-image"><a href="/illustration/">
        <img src="../../img/thumbnail_illustration.jpg" class="image" loading="lazy" alt=""/>
        <h3 class="align-center">Illustration</h3></a>
    </div>
    <div class="card-image"><a href="/a-little-late/">
        <video autoplay loop muted playsinline src="../../img/thumbnail_allwls.mp4" class="image" alt=""></video>
        <h3 class="align-center">Season 1 Identity</h3></a>
    </div>
    <div class="card-image"><a href="/podcasts/">
        <img src="../../img/thumbnail_podcasts.jpg" class="image" loading="lazy" alt="" />
        <h3 class="align-center">Podcast Covers</h3></a>
    </div>
</section>