<!--MAIN GRID-->
<main class="main col-4">
    
    <div class="card"><a href="travel-to-c"><img src="img/thumbnail_traveltoc.jpg" alt=""><h3>Travel To C</h3></a><h4>Identity, Web</h4></div>
    
    <div class="card"><a href="asian-american-studies"><img src="img/thumbnail_aast.jpg" alt=""><h3>Asian American Studies</h3></a><h4>Illustration, Print</h4></div>
    
    <div class="card"><a href="bitcamp" ><img src="img/thumbnail_bitcamp.jpg" alt=""><h3>Bitcamp</h3></a><h4>Hackathon Organizer, Illustration</h4></div>
    
    <div class="card"><a href="misc" ><video autoplay loop muted playsinline src="img/thumbnail-misc.mp4" alt=""></video><h3>Miscellaneous</h3></a><h4>Personal, Motion, Illustration</h4></div>
</main> 