<section class="nav">
 <!--logo and links-->    
<div class="nav-left">
    <a class="nav-logo h1"  {% if page.title == "Home" %}class="active"{% endif %} href="/index"><dfn data-info="Not Jira.">Gira.</dfn></a>
    <a class="nav-link-item"  {% if page.title == "Home" %}class="active"{% endif %} href="/index">work</a>
    <a class="nav-link-item"  {% if page.title == "Frequently Asked Questions" %}class="active"{% endif %} href="../faq">faq</a>
  </div>
    
{% include social.html %}

</section>