<nav class="nav">
 <!--logo and links-->    
<div class="nav-align">
    <a class="nav-logo"  {% if page.title == "Home" %}class="active"{% endif %} href="/"><dfn data-info="Not Jira.">Gira.</dfn></a>
    <a class="nav-link-item margin-left"  {% if page.title == "Home" %}class="active"{% endif %} href="/">Work</a>
    <a class="nav-link-item margin-left"  {% if page.title == "About" %}class="active"{% endif %} href="../about">About</a>
  </div>
<div class="nav-align"><label class="theme-switch" for="checkbox" aria-label="Dark Mode" title="Dark Mode">
  <input type="checkbox" id="checkbox">
  <span class="slider round"></span>
    </label></div>

</nav>
