<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <div class="content">

    {% include nav.html %}
  <div class="container title">
    <h1 class="align-center">{{ page.title }}</h1>
  </div>
    {{content}}
      
<a href="/"><p class="spacer">&larr; Back to Work</p></a>
    
    {% include footer.html %}

    </div>
  </body>
     <script>{% include vendor/jquery.js %}</script>
    <script>{% include main.js %}</script>
    <script>{% include dist/simplebox.min.js %}</script>
    <script>$(function () {
    $(".slb").simplebox({darkMode: true,});
});</script>
</html>
